/* mystyle.css */
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Palatino Linotype";
    -fx-base: rgb(100, 160, 210);
    -fx-background: rgb(220, 235, 250);
    -fx-background-image: url("Professional.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: top left;
    -fx-background-size: cover, auto;
}
.button {
  -fx-pref-width: 400px;
  -fx-background-color: #6D6D6D; /* Grey */
  -fx-border: none;
  -fx-color: white;
  -fx-padding: 15px 32px;
  -fx-text-fill: #ffffff;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16pt;
  -fx-font-weight: bold;
}
.label {
  -fx-text-fill: #ffffff;
  -fx-effect: dropshadow(three-pass-box, white, 20, 0, 0, 0);
}